@{
    ViewBag.Title = "Apropos du projet";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Gestion des sites touristiques</h1>
    <p class="lead">Application develloper par ASP.net</p>
    <p>Utilisation: Ajout , edite , supprission , details des sites touristiques ainsi que les visiteurs </p>

</div>
