@{
    ViewBag.Title = " L3 IG Groupe ";

}

<h3>@ViewBag.Title.</h3>
<div class="row panel">
    <div class="col-md-3 ">
        <p><strong>Nom:</strong> Hosana</p>
        <p><strong>Numero:</strong> 1</p>
    </div>
    <div class="col-md-3 ">
        <p><strong>Nom:</strong> Valisoa</p>
        <p><strong>Numero:</strong> </p>
    </div>
    <div class="col-md-3 ">
        <p><strong>Nom:</strong> Lalaina</p>
        <p><strong>Numero:</strong> </p>
    </div>
    <div class="col-md-3 ">
        <p><strong>Nom:</strong> Tsiory</p>
        <p><strong>Numero:</strong> </p>
    </div>



</div>