@{
    ViewBag.Title = "Gestion des sites touristiques";
}

<div class="jumbotron">
    <h1>Gestion des Sites touristiques</h1>
    <p class="lead">Application permettant de gerer l'aller et venue des touristes sur plusieurs sites touristiques enregistrer</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Contact</h2>
        <p>
           les membres qui ont vreer ce projet
        </p>
        <span class="btn btn-default">@Html.ActionLink("Contact", "Contact", "Home")</span>
</div>
    <div class="col-md-6">
        <h2>Apropos</h2>
        <p>Apropos de notre application web gestion des sites touristiques</p>
        <span class="btn btn-default">@Html.ActionLink("Apropos", "About", "Home")</span>
</div>
    
</div>