@model IEnumerable<tourisme.visite>

@{

    string donnee = ViewBag.Message;
    char separt = '/';
    string[] donnees = donnee.Split(separt);
    string visiteurN = "";
    string siteN = "";
    
    
    ViewBag.Title = "Liste des visites ";
}
<br />
<h4>Listes des visites</h4>

<br />
<table class="table">
    <tr>
        <th>
            Visiteur
        </th>
        <th>
            Site Touristique
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbJours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateVisite)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @for (int i = 1; i < donnees.Length; i = i + 2)
            {
                if (item.NumVisiteur.Equals(donnees[i])) { visiteurN = donnees[i + 1]; }
            }
            @visiteurN
        </td>
        <td>
           @for (int i = 1; i < donnees.Length; i = i + 2)
           {
               if (item.NumSite.Equals(donnees[i])) { siteN = donnees[i + 1]; }
           }
        @siteN
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbJours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateVisite)
        </td>
        
    </tr>
}

</table>
